.seeMoreButton:after{
    content: "\002794";
    position: relative;
    right: -10px;
}

.apostrophe:after{
    position: relative;
    content : "\00201C";
    /* text-align: left; */
    font: normal normal normal 119px/33px Montserrat;
    letter-spacing: 0px;
    color: #429A2F;
    opacity: 1;  
}

.courbeDesk{
    margin-bottom: 50px;
}


/* MEDIA QUERIES REPONSIVE SECTION 1 2 3 Telephone et tablette*/

@media screen and (min-width: 400px){
    #step1Content{
        left: 20% !important;
    }
    #step2{
        top: 430px !important;
    }
    #step3{
        top: 600px !important;
    }
    #step3Content{
        left: 20% !important;
    }
}

@media screen and (min-width: 450px){
    #step2{
        top: 450px !important;
    }
    #step2Content{
        left: 18% !important;
    }
    #step3{
        top: 650px !important;
    }
    #step3Content{
        left: 22% !important;
    }
}

@media screen and (min-width: 484px){
    #onetwotreeTitle{
        font-size: 32px !important;
    }
    #step1Content{
        bottom: 120px !important;
        left: 22% !important;
    }
}

@media screen and (min-width: 533px){
    #step1Content, #step2Content, #step3Content{
        width: 60% !important;
    }
    #step1, #step3{
        margin-right: 30px !important;
    }
    #step2{
        margin-left: 30px !important;
        top: 470px !important;
    }
    #step3{
        top: 720px !important;
    }
    #step2Content{
        left: 30% !important;
    }
    #step1Content{
        left: 24% !important;
    }
    #step3Content{
        left: 26% !important;
    }
}

@media screen and (min-width: 600px){
    #step1{
        top: 230px !important;
    }
    #step2{
        top: 500px !important;
    }
    #step3{
        top: 760px !important;
    }
}

@media screen and (min-width: 636px){
    #step1Content{
        left: 26% !important;
    }
    #step2{
        top: 530px !important;
    }
    #step3{
        top: 820px !important;
    }
}

@media screen and (min-width: 678px){
    #step2{
        top: 580px !important;
    }
    #step3{
        top: 880px !important;
    }
}
@media screen and (min-width: 731px){
    #onetwotreeTitle{
        font-size: 35px !important;
    }
    #step2{
        top: 620px !important;
    }
    #step3{
        top: 930px !important;
    }
}
@media screen and (min-width: 767px){
    #step1, #step3{
        margin-right: 60px !important;
    }
    #step2{
        margin-left: 60px !important;
        top: 660px !important;
    }
    #step1{
        top: 270px !important;
    }
    #step2Content{
        left: 29% !important;
    }
    #step1Content{
        left: 27% !important;
    }
    #step3{
        top: 990px !important;
    }
    #step3Content{
        left: 28% !important;
    }
}

@media screen and (min-width: 800px){
    .icon{
        width: 115px !important;
        height: 115px !important;
    }
    #step2{
        top: 720px !important;
    }
    #step2Content{
        left: 28% !important;
    }
    #step3{
        top: 1040px !important;
    }
}

@media screen and (min-width: 836px){
    #step2Content{
        left: 30% !important;
    }
}

@media screen and (min-width: 876px){
    #step3{
        top: 1090px !important;
    }
    #step2Content{
        left: 33% !important;
    }
}

@media screen and (min-width: 908px){
    #step3{
        top: 1140px !important;
    }
    #step2Content{
        left: 35% !important;
    }
    #step1Content{
        left: 28% !important;
    }
}
@media screen and (min-width: 950px){
    #step3{
        top: 1180px !important;
    }
    #step2{
        top: 800px !important;
    }
    #step2Content{
        left: 37% !important;
    }
}


/* MEDIA QUERIES SECTION 1 2 TREE VERSION DESK */

@media screen and (min-width: 1049px){
    #step3ContentDesk{
        bottom: 200px !important;
    }
    #step2ContentDesk{
        bottom: 190px !important;
    }
}
@media screen and (min-width: 1128px){
    #step3ContentDesk{
        bottom: 220px !important;
    }
    #step2ContentDesk{
        bottom: 200px !important;
    }
}
@media screen and (min-width: 1196px){
    #step1Desk{
        right: 800px !important;
    }
    #step2Desk{
        right: 400px !important;
    }
    #step3ContentDesk{
        bottom: 240px !important;
    }
    #step2ContentDesk{
        bottom: 190px !important;
    }
}
@media screen and (min-width: 1270px){
    #step1Desk{
        right: 850px !important;
    }
    #step2Desk{
        right: 450px !important;
    }
    #step3Desk{
        right: 90px !important;
        bottom: 460px !important;
    }
    #step3ContentDesk{
        bottom: 200px !important;
        left: 82% !important;
    }
    #step2ContentDesk{
        bottom: 190px !important;
    }
}
@media screen and (min-width: 1336px){
    #step3Desk{
        bottom: 480px !important;
    }
    #step2ContentDesk{
        bottom: 200px !important;
    }
    #step1Desk{
        right: 900px !important;
    }
}
@media screen and (min-width: 1410px){
    #step3ContentDesk{
        bottom: 220px !important;
    }
    #step2ContentDesk{
        bottom: 210px !important;
    }
}
@media screen and (min-width: 1480px){
    #step3ContentDesk{
        bottom: 240px !important;
    }
    #step2ContentDesk{
        bottom: 220px !important;
    }
}
@media screen and (min-width: 1556px){
    #step3ContentDesk{
        bottom: 260px !important;
    }
}
@media screen and (min-width: 1628px){
    #step3ContentDesk{
        bottom: 280px !important;
    }
    #step2ContentDesk{
        bottom: 240px !important;
    }
}
@media screen and (min-width: 1694px){
    #step3ContentDesk{
        bottom: 310px !important;
    }
    #step2ContentDesk{
        bottom: 250px !important;
    }
}
@media screen and (min-width: 1784px){
    #step3Desk{
        bottom: 600px !important;
    }
    #step3ContentDesk{
        bottom: 200px !important;
        left: 80% !important;
    }
    #step1Desk{
        right: 1150px !important;
    }
    #step1ContentDesk{
        left: 30% !important;
    }
    #step2Desk{
        right: 600px !important;
    }
    #step2ContentDesk{
        bottom: 240px !important;
    }
}
@media screen and (min-width: 1862px){
    #step3ContentDesk{
        bottom: 220px !important;
    }
    #step2ContentDesk{
        bottom: 250px !important;
    }
}
@media screen and (min-width: 1940px){
    #step3ContentDesk{
        bottom: 240px !important;
    }
}
@media screen and (min-width: 2000px){
    #step3ContentDesk{
        bottom: 260px !important;
    }
}
@media screen and (min-width: 2050px){
    #step3ContentDesk{
        bottom: 270px !important;
    }
    #step2ContentDesk{
        bottom: 270px !important;
    }
    #step1ContentDesk{
        bottom: 290px !important;
    }
}
@media screen and (min-width: 2112px){
    #step3ContentDesk{
        bottom: 280px !important;
    }
}
@media screen and (min-width: 2152px){
    #step3ContentDesk{
        bottom: 300px !important;
    }
}